:root {
  --brand-color: #3f51b5;
  --button-color: #e7e9fc;
  --social-color: #4d5ae5;
  --logo-team: #f4f4fd;
  --social-foot: #4d5ae5;
  --foot-logo-fill: #f4f4fd;
  --custom-title: #2e2f42;
  --custom-links: #8e8f99;
  --label-color: #8e8f99;
  --input-color: #404bbf;
}

/* Phone screen */

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Tablet screen */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}

/* Desktop screen */

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-header {
  display: flex;
  align-items: center;
}

.header {
  background: #fff;
  padding: 26px 16px 24px;
}

@media (min-width: 768px) {
  .header {
    background: #fff;
    padding: 0;
  }
}

@media (min-width: 1158px) {
  .header {
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 0 24px;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
}

.link {
  text-decoration: none;
}

.studio {
  color: #2e2f42;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add {
  display: none;
}

@media (min-width: 768px) {
  .add {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    margin-left: auto;
  }
}

@media (min-width: 1158px) {
  .add {
    font-style: normal;
    margin-left: auto;
  }
}

.ul-add {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

@media (min-width: 1158px) {
  .ul-add {
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
  }
}

.add-list {
  color: #434455;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1158px) {
  .add-list {
    font-size: 16px;
    display: inline-block;
  }
}

.add-list:hover {
  color: #404bbf;
}

.add-list:focus {
  color: #404bbf;
}

.list-header:hover {
  color: #404bbf;
}

.list-header:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  flex-shrink: 0;
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/office_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 428px;
  background-position: center;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office_tab.jpg);
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office_desk.jpg);
    max-width: 1440px;
  }
}

@media only screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office_tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/office_desk@2x.jpg);
  }
}

.click-hero {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 48px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features-section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }
}

.click-hero:hover {
  background-color: #404bbf;
}

.click-hero:focus {
  background-color: #404bbf;
}

.button-text:hover,
.button-text:focus {
  color: #fff;
}

button {
  cursor: pointer;
}

.second-por {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.par-features {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

@media (min-width: 1158px) {
  .par-features {
    font-weight: 400;
  }
}

.section-four {
  padding: 96px 0;
  background-color: #f4f4fd;
}

@media (min-width: 1158px) {
  .section-four {
    padding: 120px 0;
  }
}

.list-four {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.foot {
  background-color: #2e2f42;
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .foot {
    padding: 97px 164px 96px 108px;
  }
}

@media (min-width: 1158px) {
  .foot {
    padding: 100px 0;
  }
}

.foot-studio {
  color: #f4f4fd;
}

.logo-foot {
  color: #3f51b5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
}

.foot-par {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 268px;
}

.click-port {
  border: 1px solid #e7e9fc;
  background: #f4f4fd;
  border-radius: 4px;
  padding: 12px 24px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.click-port:hover,
.click-port:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port-par {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  height: 100%;
  width: 100%;
}

.list-images {
  border-bottom: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}

.section {
  margin-left: auto;
  margin-right: auto;
}

.title-hero {
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: auto;
}

@media (min-width: 768px) {
  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: auto;
  }
}

@media (min-width: 1158px) {
  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: auto;
  }
}

.span-order {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.list-features {
  max-width: 396px;
}

@media (min-width: 768px) {
  .list-features {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .list-features {
    width: calc((100% - 72px) / 4);
  }
}

.title-do {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-do {
  display: flex;
  gap: 24px;
}

.list-do-do {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
}

.features-titles {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.72px;
}

@media (min-width: 768px) {
  .features-titles {
    text-align: start;
    font-size: 36px;
    letter-spacing: 0.72px;
  }
}

@media (min-width: 1158px) {
  .features-titles {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}

.section-do {
  display: none;
}

@media (min-width: 1158px) {
  .section-do {
    padding-bottom: 120px;
    display: flex;
  }
}

.img-do {
  border: 1px solid #e7e9fc;
  background: lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
}

.title-team {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.ul-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .ul-team {
    gap: 24px;
    row-gap: 64px;
  }
}

@media (min-width: 1158px) {
  .ul-team {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.img-team {
  background: lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.card-team {
  padding: 32px 0;
}

.team-names {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-jobs {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.title-customers {
  color: var(--custom-title);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.contact-mail-tel {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5px;
  letter-spacing: 0.32px;
}

.ul-header {
  display: flex;
}

@media (min-width: 768px) {
  .ul-header {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
}

.ul-features {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media (min-width: 768px) {
  .ul-features {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .ul-features {
    display: flex;
    gap: 24px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
}

@media (min-width: 768px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 1158px) {
  .nav-list {
    display: block;
  }
}

.list-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.list-header {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: inline-block;
}

.all-button-text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5px;
  letter-spacing: 0.64px;
}

.all-button-text:hover,
.all-button-text:focus {
  color: #4d5ae5;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.button-text {
  color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.ul-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-images {
  background: #fff;
}

.img-port {
  width: 360px;
  flex-shrink: 0;
  background: lightgray 50% / cover no-repeat;
}

.card-port {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.container-foot {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  margin-left: 64px;
  margin-right: 64px;
}

@media (min-width: 768px) {
  .container-foot {
    width: 584px;
    margin: 0;
    justify-content: start;
  }
}

@media (min-width: 1158px) {
  .container-foot {
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.foot-social-list {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .foot-social-list {
    margin: 0;
  }
}

.foot-socials-div {
  margin-bottom: 72px;
}

@media (min-width: 768px) {
  .foot-socials-div {
    margin-left: 24px;
  }
}

@media (min-width: 1158px) {
  .foot-socials-div {
    margin-left: 120px;
    margin-right: 80px;
  }
}

.foot-social-logo {
  fill: var(--foot-logo-fill);
}

.social-foot-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .social-foot-text {
    text-align: justify;
  }
}

.custom-logo {
  fill: currentColor;
}

@media (min-width: 768px) {
  .custom-logo {
    margin: 16px 32px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 72px;
}

@media (min-width: 768px) {
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.logo-social-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media (min-width: 768px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}

.second-section-logos {
  display: none;
}

@media (min-width: 768px) {
  .second-section-logos {
    display: none;
  }
}

@media (min-width: 1158px) {
  .second-section-logos {
    border-radius: 4px;
    background: var(--CLOUD, #f4f4fd);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }
}

.logos-second {
  margin: 24px 100px;
}

.custom-logo:hover,
.custom-logo:focus {
  fill: #404bbf;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.customers-item:hover,
.customers-item:focus {
  border-color: #404bbf;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.logo-social-team {
  border-radius: 50%;
  background: #404bbf;
  border-color: #404bbf;
  width: 40px;
  height: 40px;
}

.team-social-links:hover,
.team-social-links:focus {
  background-color: #404bbf;
}

.logo-team-svg {
  fill: var(--logo-team);
  margin: 12px;
}

.foot-social-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #404bbf;
  border-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-social-logo {
  margin: 8px;
}

.foot-social-item:hover,
.foot-social-item:focus {
  background-color: #31d0aa;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.logo-social-team:hover,
.logo-social-team:focus {
  background-color: #31d0aa;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.current {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px 24px;
  min-height: 584px;
  width: 392px;

  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.btn-close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.port-cards-links {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.port-cards-links:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.port-cards-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.port-cards-links:hover .overlay-par {
  transform: translateY(0%);
}

.port-cards-links:focus .overlay-par {
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-par {
  color: #f4f4fd;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  top: 0;
  background: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-par-foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

@media (min-width: 768px) {
  .logo-par-foot {
    display: block;
    justify-content: start;
  }
}

@media (min-width: 1158px) {
  .logo-par-foot {
    margin: 0;
  }
}

.links-social-foot {
  width: 100%;
  height: 100%;
  background-color: var(--social-foot);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-social-foot:hover,
.links-social-foot:focus {
  background-color: #31d0aa;
}

.section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1158px) {
  .section-customers {
    padding: 120px 0;
  }
}

.customers-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--custom-links);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  height: 88px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.btn-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons-li {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links-social {
  width: 100%;
  height: 100%;
  background-color: var(--social-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-links-social:hover,
.team-links-social:focus {
  background-color: #404bbf;
}

.focus-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.focus-links:focus .overlay-par {
  transform: translateY(0%);
}

.title-form {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 360px;
  margin-bottom: 16px;
}

.modal-form-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  display: block;
}

.box-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px 8px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  position: relative;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-input:focus-within {
  border-color: #4d5ae5;
}

.box-input:focus-within + .box-input-svg {
  fill: #4d5ae5;
}

.box-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: #404040;
}

.box-input:focus .box-input-svg {
  fill: #4d5ae5;
}

.modal-form-div {
  position: relative;
  margin-bottom: 8px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
}

.form-textarea:focus {
  border-color: #4d5ae5;
}

.form-textarea:placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
  outline: transparent;
}

.form-textarea:focus-within {
  border-color: #4d5ae5;
}

.modal-font-span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}

.modal-form-label-checkbox {
  color: var(--label-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}

.modal-form-link {
  color: var(--social-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  margin-left: 4px;
}

.modal-form-checkbox-div {
  margin-bottom: 24px;
}

.modal-form-checkbox:checked + .modal-form-label-checkbox > .modal-form-span {
  background-color: var(--input-color);
  border: none;
  fill: var(--logo-team);
}

.modal-form-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-btn-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border-radius: 4px;
}

.modal-btn-text {
  text-align: center;
}

.button-footer {
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.svg-footer-button {
  fill: #ffffff;
  margin-left: 16px;
}

.input-foot {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 398px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}

@media (min-width: 320px) and (max-width: 427.98px) {
  .input-foot {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .input-foot {
    width: 264px;
  }
}

.input-foot::placeholder {
  color: #ffffff;
}

.form-par {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .form-par {
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
  }
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .form-footer {
    gap: 24px;
  }
}

@media (min-width: 1158px) {
  .form-footer {
    flex-wrap: nowrap;
  }
}

.form-input-box {
  position: relative;
}

.form-mod {
  margin-bottom: 8px;
}

.box-comment {
  margin-bottom: 16px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0%);
}

.menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #fff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-icon {
  fill: #2e2f42;
}

.mobile-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-contacts-link.accent {
  color: #4d5ae5;
  font-size: 36px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

@media (min-width: 428) {
  .mobile-contacts-link.accent {
    font-size: 36px;
    font-weight: 700;
  }
}

.mobile-socials {
  display: flex;
  gap: 56px;
  align-items: center;
}

@media (min-width: 427.98px) {
  .mobile-socials {
    justify-content: space-between;
  }
}

@media (min-width: 428px) {
  .mobile-socials {
    gap: 56px;
  }
}

.mobile-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.mobile-socials-icon {
  fill: #fff;
}

.mobile-menu {
  margin-bottom: auto;
}

.hamburger {
  stroke: #2e2f42;
}

.header-menu-btn {
  border: none;
}

.mobile-socials-item {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #404bbf;
  border-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .section-fifth {
    width: 584px;
  }
}

@media (min-width: 1158px) {
  .section-fifth {
    width: 1128px;
  }
}
